{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/typescript"
  ],
  "env": {
    "commonjs": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
